*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	margin: 0 auto;
	display: flex;
	background-image: url(../img/bgHeader.jpg);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: 100%;
	height: 500px;
}
.header-top{
	display: flex;
	justify-content: space-between;
	background-color: rgba(155,45,48,0.9);
	align-items: center;
}
.hotel-name{
	font-size: 28px;
	padding: 10px 10px;
	color: #fff;
}
.logo{
	width: 110px;
	height: 110px;
}
nav{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.nav-panel{
	display: flex;
	background-color: rgba(56,42,0,0.8);
}
.nav-panel ul{
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav-panel ul li{
	height: 58px;
	list-style: none;
	border-right: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.border-none{
	border-right: transparent;
}
.nav-link{
	color: #ffd700;
	font-size: 20px;
	font-style: bold;
}