main, header{
	background-color: #f6eed5;
}
body{
	display: flex;
	flex-direction: column;
}
.wrap{
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.room-display{
	border-radius: 7px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 30%;
	min-width: 250px;
}
.room-text{
	padding: 7px 0 7px 10px;
}
.room-display img{
	border-radius: 10px 10px 0 0;
	width: 100%;
}
.sub-btn{
	border-radius: 5px;
	padding: 7px 30px 7px 30px;
	border: none;
	background-color: #ffd700;
	cursor: pointer;
	transition: all .2s linear;
	margin: 0 10px 10px 7px;
}
.sub-btn:hover{
	background-color: #f6d600;
	box-shadow: 0 0 0px 1px #ffd700;
}